* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #4b145b;
}

.container {
  border: 0.1px solid black;
  width: 90vw;
  min-height: 70vh;
  margin: 10vh auto;
  background-color: white;
  border-radius: 5px;
}

.container h2 {
  margin-top: 30px;
  margin-left: 20px;
}

.question {
  border: 1px solid gray;
  margin: 20px auto;
  padding: 20px;
  width: 600px;
}

.itm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 15px; */
  border: 1px solid gray;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
